<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Prema</title>
  
</head>
<body>
  <script src="/main.js"></script>

  <h1> Gerenciamento de produtos </h1>
  
  <div class="botoes">
    --------------------------------------------------------------------------------------------------------------
    

    <form action="ver_cervejas.html">
        <input type="submit" value="Ver/Adicionar cerveja" />
    </form>
    
    <span> - </span>

    <form action="ver_marcas.html">
        <input type="submit" value="Ver/Adicionar marcas" />
    </form>

    <span> - </span>

    <form action="ver_tipos.html">
        <input type="submit" value="Ver/Adicionar tipos" />
    </form>

    <span> - </span>

    <form action="ver_garrafas.html">
      <input type="submit" value="Ver/Adicionar tipos de garrafa" />
    </form>

    <span> - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -</span>
    <h3>Edição</h3>

    <form action="edit_cervejas.html">
      <input type="submit" value="Editar/Remover cerveja" />
  </form>
  
  <span> - </span>

  <form action="edit_marcas.html">
      <input type="submit" value="Remover marcas" />
  </form>

  <span> - </span>

  <form action="edit_tipos.html">
      <input type="submit" value="Remover tipos" />
  </form>

  <span> - </span>

  <form action="edit_garrafas.html">
    <input type="submit" value="Remover tipos de garrafa" />
  </form>

  <span> - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -</span>
    <h3>Pesquisa</h3>
    <form action="pesquisa_cervejas.html">
      <input type="submit" value="Pesquisar cervejas" />
    </form>

    <span> - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -</span>
    <h3>Login</h3>
    <form action="login.html">
      <input type="submit" value="Login" />
    </form>
    <form action="deslogar">
      <input type="submit" value="Deslogar" />
    </form>

    

  </div>
  

</body>
</html>